{% extends "base.html" %}

{% block content %}
<h1>Настройки аккаунта</h1>
<h3>Задайте ФИО и остальные данные</h3>
<form method="post">
    {% csrf_token %}
    <p>Логин: {{ user.username }}</p>
    {{ form.username }}
    <p>Фамилия: {{ user.last_name }}</p>
    {{ form.last_name }}
    <p>Имя: {{ user.first_name}}</p>
    {{ form.first_name }}
    <p>Отчество: {{ user.middle_name }}</p>
    {{ form.middle_name }}
    <p>Группа: {{ user.department }}</p>
    {{ form.department }}
    <br>
    <br>
    {% if form.errors %}
    <ul class="errorlist">
        {% for field in form %}
            {% if field.errors %}
                <li>{{ field.label }}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <p><button type="submit" class="btn btn-primary">Сохранить</button></p>
</form>
{% endblock content %}
